
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1494531760930-4 {
            min-height: 100px;
            width: 100px;
            background-color: rgb(255, 255, 255);
            top: 115px;
            left: 303px;
        }
        
        .silex-id-1494531531901-1 {
            min-height: 289px;
            width: 498px;
            background-color: rgb(255, 255, 255);
            top: 71px;
            left: 442px;
        }
        
        .silex-id-1494532086110-6 {
            min-height: 100px;
            width: 100px;
            top: 52px;
            left: 310px;
        }
        
        .silex-id-1494532134406-7 {
            min-height: 205px;
            width: 406px;
            background-color: rgb(255, 255, 255);
            top: 231px;
            left: 197px;
        }
    